# Proyecto Construcciones Salamanca

# Base de datos (infra compartida)
DB_HOST=shared-postgres-db
DB_PORT=5432
DB_NAME=construcciones
DB_USER=construcciones
DB_PASSWORD=construcciones_pass_1234

# Redis compartido
REDIS_HOST=shared-redis
REDIS_PORT=6379

# App
APP_ENV=dev
APP_SECRET=CHANGE_ME_SECRET
# Admin password hash (bcrypt). Generate: docker run --rm php:8-cli php -r "echo password_hash('your_password', PASSWORD_DEFAULT);"
ADMIN_PASSWORD_HASH='$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi'

# Email (configure SMTP in production)
MAILER_DSN=smtp://user:pass@smtp.gmail.com:587
NOTIFICATION_TO_EMAIL=admin@ejemplo.com
NOTIFICATION_FROM_EMAIL=noreply@ejemplo.com

# Frontend
VITE_API_BASE=http://constru-backend-nginx/api
